[project]
	description = A GitHub pages repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group dalihub admins
	owner = group user/Adeel Kazmi (adeelkazmi)
	label-Code-Review = -2..+2 group dalihub reviewers
	label-Code-Review = -1..+1 group dalihub developers
	label-Verified = -1..+1 group dalihub developers
[access "refs/for/refs/*"]
	read = group user/Adeel Kazmi (adeelkazmi)
	push = group user/Adeel Kazmi (adeelkazmi)
	label-Code-Review = -2..+2 group user/Adeel Kazmi (adeelkazmi)
	label-Verified = -1..+1 group user/Adeel Kazmi (adeelkazmi)
	rebase = group user/Adeel Kazmi (adeelkazmi)
	removeReviewer = group user/Adeel Kazmi (adeelkazmi)
	submit = group user/Adeel Kazmi (adeelkazmi)
[access "refs/heads/*"]
	read = group user/Adeel Kazmi (adeelkazmi)
	create = group user/Adeel Kazmi (adeelkazmi)
	push = +force group user/Adeel Kazmi (adeelkazmi)
	pushMerge = group user/Adeel Kazmi (adeelkazmi)
[access "refs/tags/*"]
	push = group user/Adeel Kazmi (adeelkazmi)
	push = +force group user/Adeel Kazmi (adeelkazmi)
